
    .container {
      margin: 3rem auto;
      max-width: 1080px;
      text-align: center;
      font-family: 'Patrick Hand', cursive;
      letter-spacing: .1rem;
      color: rgb(88, 88, 88);
      font-size: 1.2rem;
    }

    .card {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem 2rem;
      box-shadow: 0px 0px 15px #ffcbcbbe;
      margin-top: 1rem;
      border-radius: 20px;

    }

    .card-img {
      border-radius: 20px;
      background-repeat: no-repeat;
      background-size: contain;
        width: 360px;
        height: auto;
      background-position: center;
    }

    .card-body {
      text-align: left;
      margin: auto 1rem;
      padding: 1rem;
    }

    .country {
      font-size: 2rem;
      font-weight: bold;

    }

    .country>span {
      color: #da1212b0;
      font-size: 1rem;
      margin-left: .4rem;
    }

    .location-link {
      text-decoration: underline;
      color: rgb(88, 88, 88);
      margin-left: 1rem;
    }

    .title {
      font-size: 2.5rem;
      margin: 1rem 2rem;
    }

    .perioud {
      font-size: 1rem;
      font-weight: bolder;
      margin: 1rem 2rem;
    }
    .body {
      margin: 1rem 1.6rem;

    }